@import '~@angular/material/theming';

@include mat-core();

$cf-primary: mat-palette($mat-green, 700, 800, 900);
$cf-accent: mat-palette($mat-red, 700, 800, 900);
$cf-warn: mat-palette($mat-red);

$cf-theme: mat-light-theme($cf-primary, $cf-accent, $cf-warn);

@include angular-material-theme($cf-theme);